---

# Glusterfs installation :

- name: Include OS-specific tasks.
  include_tasks: "Setup-{{ ansible_distribution }}.yml"

- name: Ensure gluster service is enabled and started.
  service:
    name: "{{ glusterfs_daemon }}"
    state: started
    enabled: yes



# Gluster Volumes set up :

- block:

  - name: Ensure gluster brick directories exist.
    file:
      path: "{{ item.1 }}"
      state: directory         
      owner: root
      group: root
      mode: '0755'
    loop: "{{ glusterfs_volumes | subelements('bricks') }}"
    when: glusterfs_volumes | length > 0

  - name: Configure GlusterFS Peers (Stop on Failure)
    gluster.gluster.gluster_peer:
      state: present
      nodes: "{{ ansible_play_hosts | difference([inventory_hostname]) }}"
    run_once: true

  - name: Create gluster volumes.
    gluster.gluster.glusterfs_volume:
      state: present
      name: "{ item.name }"
      replicas: "{ item.replica }"
      cluster: "{{ ansible_play_hosts }}"
      bricks: "{ item.bricks }"
      force: yes
      rebalance: yes
    loop: "{{ glusterfs_volumes }}"
    run_once: true